
  p {
    color: #3A75C4;
    align="center"
    font-style: bold;
  }

.paragraph2 {
    font-size: 15px;
    color: #3A75C4;
  }
  .title {
    font-size: 90px;
    color: #337aac;
  }

    h5 {
    color: #337aac;
    align="center"
    font-style: bold;
  }